/* General */

.styled-h2 {
  text-align: center;
  color: #ebc837;
  font-family: "TrajanPro";
  letter-spacing: 0.00938em;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.styled-h4 {
  color: #ebc837;
  font-family: "TrajanPro";
  letter-spacing: 0.00938em;
  margin-left: 2rem;
  font-weight: 400;
  margin-top: 8px;
}

/* Navbar */

.bordercolor {
  border-style: solid;
  border-image: linear-gradient(
      90deg,
      rgba(184, 134, 45, 0),
      rgb(184, 134, 45),
      rgb(255, 223, 145),
      rgb(184, 134, 45),
      rgba(184, 134, 45, 0)
    )
    1;
  border-image-slice: 1;
  border-image-width: 2px;
}
